@{
    ViewBag.Title = "Cursos";
}

<style>
    .modal-header {
        padding: 6px;
    }

    .modal-body {
        padding: 6px;
    }

    .dataTables_wrapper {
        padding: 6px;
    }
</style>
<div ng-controller="curso as ctrl">

    <div class="page-header justify-content">
        <h3>@ViewBag.Title</h3>
        <div class="col-md-7 mb-3 text-right">
            <button id="btnPrimaryDanger" class="btn btn-primary btn-sm" ng-click="AbrirCadastroNovo()">Novo Curso</button>
        </div>
    </div>
    @* Listagem dos Meus Cursos *@
    <div class="row layout-top-spacing" ng-init="Listagem()">
        <div class="container-fluid">
            <div class="card">
                <table id="DtResult" datatable="ng" dt-options="dtOptions"
                       class="table table-hover dataTable"
                       role="grid">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:5%">Id</th>
                            <th class="text-center">Curso</th>
                            <th class="text-center">Disciplinas</th>
                            <th class="text-center">Descrição</th>
                            <th class="text-center">Prioridade</th>
                            <th class="text-center">Modulo</th>
                            <th class="text-center" style="width:5%">Status</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Tabela">
                            <td class="text-center">{{item.ID}}</td>
                            <td class="text-center">{{item.NOME}}</td>
                            <td class="text-center">{{item.QTD_DISCIPLINAS}}</td>
                            <td class="text-center">{{item.DESCRICAO}}</td>
                            <td class="text-center">{{item.PRIORIDADE}}</td>
                            <td class="text-center">{{item.NOME_MODULO}}</td>
                            <td class="text-center">
                                <button id="btnStatus"
                                        type="button"
                                        title="Alterar Status"
                                        ng-class="botaoClass(item.STATUS)"
                                        ng-click="DesativarCurso(item)">
                                    <i class="fas fa-check" ng-show="item.STATUS"></i>
                                    <i class="fas fa-times" ng-show="!item.STATUS"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button id="btnPrimaryDanger"
                                        type="button"
                                        class="btn btn-warning btn-sm"
                                        title="Adicionar Conteúdo"
                                        ng-click="AbrirGerenciarCurso(item)">
                                    <i class="fas fa-cogs"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @* Modal cadastrar novo Curso *@
    <div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="ModalRegistroLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{tituloModal}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="cadastrarCursoForm" novalidate autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Modulo:</label>
                                    <select class="form-control" ng-model="curso.ID_MODULO" ng-change="trocarPrioridadeCurso(curso)" ng-options="item.ID as item.NOME for item in Modulos" ng-required="true">
                                        <option value="">Selecione um Modulo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-8" ng-show="curso.ID_MODULO != null">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Curso:</label>
                                    <input type="text" class="form-control" name="nomeCurso" id="recipient-name" placeholder="insira um nome do curso"
                                           ng-model="curso.NOME" required>
                                    <div ng-show="!curso.NOME && cadastrarCursoForm.nomeCurso.$dirty && cadastrarCursoForm.nomeCurso.$touched" class="alert alert-danger">
                                        Este campo é obrigatório!
                                    </div>
                                    <div ng-show="curso.NOME.length < 3" class="alert alert-danger">
                                        Mínimo 3 caracteres!
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" ng-show="curso.ID_MODULO != null">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Prioridade:</label>
                                    <input type="number" class="form-control" id="recipient-name" name="prioridadeCurso" ng-model="curso.PRIORIDADE" required>
                                    <div ng-show="!curso.PRIORIDADE && cadastrarCursoForm.prioridadeCurso.$touched && cadastrarCursoForm.prioridadeCurso.$dirty" class="alert alert-danger">
                                        Campo obrigatório!
                                    </div>
                                    <div ng-show="curso.PRIORIDADE <= 0" class="alert alert-danger">
                                        Valor precisa ser maior que 0!
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" ng-show="curso.ID_MODULO != null">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Descrição:</label>
                                    <textarea class="form-control" id="message-text" name="descricaoCurso" ng-model="curso.DESCRICAO" required></textarea>
                                    <div ng-show="!curso.DESCRICAO && cadastrarCursoForm.descricaoCurso.$dirty" class="alert alert-danger">
                                        Campo obrigatório!
                                    </div>
                                    <div ng-show="curso.DESCRICAO.length < 10" class="alert alert-danger">
                                        Este campo precisa de no mínimo 10 caracteres
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" ng-click="FechaModal('ModalRegistro')">Fechar</button>
                        <button id="btnPrimaryDanger" type="button" class="btn btn-primary" ng-click="Finalizar(curso)" ng-disabled="cadastrarCursoForm.$invalid || !curso.NOME || curso.NOME.length < 3 || !curso.PRIORIDADE || curso.PRIORIDADE <= 0 || !curso.DESCRICAO || curso.DESCRICAO.length < 10">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Modal Gerenciar Curso *@
    <div id="modalGerenciarCurso" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPrincipal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-xl" role="document" style="width: 80% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="disciplinaLink" ng-click="ListagemDisciplinasPorCurso(curso.ID)" aria-selected="true"
                               data-toggle="pill" href="#disciplina" aria-controls="disciplina">Disciplina e Aulas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="editarCursoLink" ng-click="AbrirItemSelecionado(curso)" aria-selected="true"
                               data-toggle="pill" href="#editarCurso" aria-controls="editarCurso">Editar Curso</a>
                        </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="disciplina" role="tabpanel" aria-labelledby="disciplina">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-center"><strong>Disciplinas do Curso: {{curso.NOME}}</strong></h5>
                                </div>

                                <div class="col-12">
                                    <table id="DtResult" datatable="ng" dt-options="ctrl.dtOptionsModalDisciplinas"
                                           class="table table-hover dataTable"
                                           style="margin: 1px; font-size: 11px !important; display: table;" role="grid">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:10% !important">Prioridade</th>
                                                <th class="text-center">Nome</th>
                                                <th class="text-center" style="width:10% !important">Status</th>
                                                <th class="text-center" style="width:150px !important">Ações</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in TabelaDisciplinasPorCurso" ng-click="ListarAulasPorDisciplina(item)">
                                                <td class="text-center">{{item.PRIORIDADE}}</td>
                                                <td class="text-center">{{item.NOME}}</td>
                                                <td class="text-center">
                                                    <button id="btnStatus" type="button" ng-class="botaoClass(item.STATUS)" ng-click="AlterarStatusDisciplina(item)" title="Alterar">
                                                        <i class="fas fa-check"></i>
                                                    </button>

                                                </td>
                                                <td class="text-center">
                                                    <button id="btnPrimaryDanger" class="btn btn-primary btn-sm" ng-click="AbrirModalAdicionarAula(item.ID)" title="Adicionar Aula"><i class="fas fa-plus"></i></button>
                                                    <button id="btnPrimaryDanger" class="btn btn-warning btn-sm" ng-click="EditarDisciplina(item)" title="Editar Disciplina"><i class="fas fa-cog"></i></button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                @* Modal Adicionar Disciplina *@
                                <div class="col-12">
                                    <div class="modal fade" id="modalAdicionarDisciplina" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarDisciplina" aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Disciplina</h5>
                                                </div>


                                                <form name="formAdicionarDisciplina" autocomplete="off">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="form-group">
                                                                    <label for="recipient-name" class="col-form-label">Nome da Disciplina:</label>
                                                                    <input type="text" name="nomeDisciplina" class="form-control" id="recipient-name" placeholder="insira um nome da disciplina"
                                                                           ng-model="disciplina.NOME" required>
                                                                    <div ng-show=" !disciplina.NOME && formAdicionarDisciplina.nomeDisciplina.$dirty && formAdicionarDisciplina.nomeDisciplina.$touched" class="alert alert-danger">
                                                                        Este campo é obrigatório!
                                                                    </div>
                                                                    <div ng-show="disciplina.NOME.length < 3" class="alert alert-danger">
                                                                        Mínimo 3 caracteres!
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="message-text" class="col-form-label">Descrição:</label>
                                                                    <textarea class="form-control" id="message-text" ng-model="disciplina.DESCRICAO" name="descricaoDisciplina" required></textarea>
                                                                    <div ng-show="!disciplina.DESCRICAO && formAdicionarDisciplina.descricaoDisciplina.$dirty && formAdicionarDisciplina.descricaoDisciplina.$touched" class="alert alert-danger">
                                                                        Este campo é obrigatório!
                                                                    </div>
                                                                    <div ng-show="disciplina.DESCRICAO.length < 10  " class="alert alert-danger">
                                                                        Mínimo 10 caracteres!
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label for="recipient-name" class="col-form-label">Prioridade:</label>
                                                                    <input type="number" class="form-control" id="recipient-name" name="prioridadeDisciplina" ng-model="disciplina.PRIORIDADE" required>
                                                                    <div ng-show="!disciplina.PRIORIDADE && formAdicionarDisciplina.prioridadeDisciplina.$dirty && formAdicionarDisciplina.prioridadeDisciplina.$touched" class="alert alert-danger">
                                                                        Campo obrigatório!
                                                                    </div>
                                                                    <div ng-show="disciplina.PRIORIDADE <= 0 " class="alert alert-danger">
                                                                        Valor precisa ser maior que 0!
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" ng-click="FechaModal('modalAdicionarDisciplina')">Fechar</button>
                                                        <button id="btnPrimaryDanger" type="button" class="btn btn-primary btn-sm" ng-click="AdicionarDisciplina(disciplina)" ng-disabled="formAdicionarDisciplina.$invalid || disciplina.PRIORIDADE <= 0 || disciplina.DESCRICAO.length < 10 || disciplina.NOME.length < 3 || !disciplina.DESCRICAO || !disciplina.NOME">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @* Modal Editar Disciplina *@

                                <div class="modal fade" id="modalEditarDisciplina" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarDisciplina" aria-hidden="true" data-backdrop="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar Disciplina</h5>

                                            </div>
                                            <form name="editarDisciplinaForm" autocomplete="off">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Nome da Disciplina:</label>
                                                                <input type="text" class="form-control" id="recipient-name" name="nomeDisciplinaEditar" placeholder="insira um nome da disciplina" ng-model="disciplina.NOME" required>
                                                                <div ng-show="!disciplina.NOME && editarDisciplinaForm.nomeDisciplinaEditar.$dirty && editarDisciplinaForm.nomeDisciplinaEditar.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="disciplina.NOME.length < 3" class="alert alert-danger">
                                                                    Mínimo 3 caracteres!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Descrição:</label>
                                                                <textarea class="form-control" id="message-text" name="descricaoDisciplina" ng-model="disciplina.DESCRICAO" required></textarea>
                                                                <div ng-show="!disciplina.DESCRICAO && editarDisciplinaForm.descricaoDisciplina.$dirty && editarDisciplinaForm.descricaoDisciplina.$touched " class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="disciplina.DESCRICAO.length < 10 " class="alert alert-danger">
                                                                    Mínimo 10 caracteres!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Prioridade:</label>
                                                                <input type="number" class="form-control" id="recipient-name" ng-model="disciplina.PRIORIDADE" name="prioridadeDisciplina" required>
                                                                <div ng-show="!disciplina.PRIORIDADE && editarDisciplinaForm.prioridadeDisciplina.$dirty && editarDisciplinaForm.prioridadeDisciplina.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="disciplina.PRIORIDADE <= 0 " class="alert alert-danger">
                                                                    Valor precisa ser maior que 0!
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" ng-click="FechaModal('modalEditarDisciplina')">Fechar</button>
                                                    <button id="btnPrimaryDanger" type="button" class="btn btn-primary btn-sm" ng-click="AdicionarDisciplina(disciplina)" ng-disabled="editarDisciplinaForm.$invalid || disciplina.NOME.length < 3 || disciplina.DESCRICAO.length < 10 || disciplina.PRIORIDADE <= 0 ">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                @* Modal adicionar aula *@
                                <div class="modal fade" id="modalAdicionarAula" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarAula" aria-hidden="true" data-backdrop="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Adicionar Aula</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form name="adicionarAulaForm" novalidate autocomplete="off">
                                                <div class="modal-body" ng-init="ListagemTiposAula()">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Tipo de Aula:</label>
                                                                <select class="form-control" name="tipoAula" ng-model="aula.ID_TIPO_AULA" ng-options="item.ID as item.NOME for item in TiposDeAula">
                                                                    <option value="">Selecione um Tipo de aula para continuar...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        @* Tipo de Texto na Aula *@
                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA == 2">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Texto da Aula:</label>
                                                                <textarea class="form-control" id="message-text" name="textoAula" ng-model="aula.TEXTO"></textarea>
                                                                <div ng-show="!aula.TEXTO && adicionarAulaForm.textoAula.$dirty && adicionarAulaForm.textoAula.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @* Tipo de aula Video *@
                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA == 1">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Link do Video:</label>
                                                                <textarea class="form-control" id="message-text" name="linkAula" ng-model="aula.VIDEO"></textarea>
                                                                <div ng-show="!aula.VIDEO && adicionarAulaForm.linkAula.$dirty && adicionarAulaForm.linkAula.$touched" class="alert alert-danger">
                                                                    Campo com Link obrigatório!
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @* UPLOAD DE ARQUIVO *@
                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA == 3">
                                                            <div class="form-group">
                                                                <input type="file" ng-model="aula.ARQUIVO" accept=".xls,.xlsx,.doc, .docx, .ppt, .pptx,.pdf" />
                                                                <button ng-click="uploadFile()">Enviar</button>
                                                            </div>
                                                        </div>

                                                        <div class="col-8" ng-show="aula.ID_TIPO_AULA != null">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Nome da Aula:</label>
                                                                <input type="text" class="form-control" name="nomeAula" id="recipient-name" placeholder="insira um nome da aula"
                                                                       ng-model="aula.NOME">
                                                                <div ng-show="!aula.NOME && adicionarAulaForm.nomeAula.$dirty && adicionarAulaForm.nomeAula.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="aula.NOME.length < 3" class="alert alert-danger">
                                                                    Mínimo 3 caracteres!
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA != null">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Descrição:</label>
                                                                <textarea class="form-control" name="descricaoAula" id="message-text" ng-model="aula.DESCRICAO" required></textarea>
                                                                <div ng-show="!aula.DESCRICAO && adicionarAulaForm.descricaoAula.$dirty && adicionarAulaForm.descricaoAula.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="aula.DESCRICAO.length < 10" class="alert alert-danger">
                                                                    Mínimo 10 caracteres!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4" ng-show="aula.ID_TIPO_AULA != null">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Ordem da Aula:</label>
                                                                <input type="number" class="form-control" name="ordemAula" id="recipient-name" ng-model="aula.ORDEM_AULA" required>
                                                                <div ng-show="!aula.ORDEM_AULA && adicionarAulaForm.ordemAula.$dirty && adicionarAulaForm.ordemAula.$touched" class="alert alert-danger">
                                                                    Campo Obrigatório
                                                                </div>
                                                                <div ng-show="aula.ORDEM_AULA <= 0" class="alert alert-danger">
                                                                    Valor precisa ser maior que 0!
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" ng-click="FechaModal('modalAdicionarAula')">Fechar</button>
                                                    <button id="btnPrimaryDanger" type="button" class="btn btn-primary btn-sm" ng-click="AdicionarAula(aula)" ng-disabled="adicionarAulaForm.$invalid || (!aula.TEXTO && !aula.VIDEO && !aula.ARQUIVO) || !aula.NOME || !aula.DESCRICAO || aula.NOME.length < 3 || aula.DESCRICAO.length < 10 || aula.ORDEM_AULA <= 0 ">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                @* Modal Editar Aula *@

                                <div class="modal fade" id="modalEditarAula" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarDisciplina" aria-hidden="true" data-backdrop="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar Aula</h5>

                                            </div>
                                            <form name="editarAulaForm" autocomplete="off">
                                                <div class="modal-body" ng-init="ListagemTiposAula()">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Tipo de Aula:</label>
                                                                <select class="form-control" ng-model="aula.ID_TIPO_AULA" ng-options="item.ID as item.NOME for item in TiposDeAula">
                                                                    <option value="">Selecione um Tipo de aula</option>
                                                                </select>
                                                            </div>
                                                        </div>


                                                        @* Tipo de Texto na Aula *@
                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA == 2">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Texto da Aula:</label>
                                                                <textarea class="form-control" id="message-text" name="textoAula" ng-model="aula.TEXTO"></textarea>
                                                                <div ng-show="!aula.TEXTO && editarAulaForm.textoAula.$dirty && editarAulaForm.textoAula.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @* Tipo de aula Video *@
                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA == 1">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Link do Video:</label>
                                                                <textarea class="form-control" name="linkAula" id="message-text" ng-model="aula.VIDEO"></textarea>
                                                                <div ng-show="!aula.VIDEO && editarAulaForm.linkAula.$dirty && editarAulaForm.linkAula.$touched" class="alert alert-danger">
                                                                    Campo com Link obrigatório!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @* UPLOAD DE ARQUIVO *@
                                                        <div class="col-12" ng-show="aula.ID_TIPO_AULA == 3">
                                                            <div class="form-group">
                                                                <input type="file" ng-model="aula.ARQUIVO" accept=".xls,.xlsx,.doc, .docx, .ppt, .pptx,.pdf" />
                                                                <button ng-click="uploadFile()">Enviar</button>
                                                            </div>
                                                        </div>


                                                        <div class="col-8">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Nome da Aula:</label>
                                                                <input type="text" class="form-control" name="nomeAula" id="recipient-name" autocomplete="off" placeholder="insira um nome da aula"
                                                                       ng-model="aula.NOME" required>
                                                                <div ng-show="!aula.NOME && editarAulaForm.nomeAula.$dirty && editarAulaForm.nomeAula.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="aula.NOME.length < 3" class="alert alert-danger">
                                                                    Mínimo 3 caracteres!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Descrição:</label>
                                                                <textarea class="form-control" name="descricaoAula" id="message-text" ng-model="aula.DESCRICAO" required></textarea>
                                                                <div ng-show="!aula.DESCRICAO && editarAulaForm.descricaoAula.$dirty && editarAulaForm.descricaoAula.$touched" class="alert alert-danger">
                                                                    Campo obrigatório!
                                                                </div>
                                                                <div ng-show="aula.DESCRICAO.length < 10" class="alert alert-danger">
                                                                    Mínimo 10 caracteres!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Ordem da Aula:</label>
                                                                <input type="number" class="form-control" name="ordemAula" id="recipient-name" ng-model="aula.ORDEM_AULA" required>
                                                                <div ng-show="!aula.ORDEM_AULA && editarAulaForm.ordemAula.$dirty && editarAulaForm.ordemAula.$touched" class="alert alert-danger">
                                                                    Campo Obrigatório
                                                                </div>
                                                                <div ng-show="aula.ORDEM_AULA <= 0" class="alert alert-danger">
                                                                    Valor precisa ser maior que 0!
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" ng-click="FechaModal('modalEditarAula')">Fechar</button>
                                                    <button id="btnPrimaryDanger" type="button" class="btn btn-primary btn-sm" ng-click="AdicionarAula(aula)" ng-disabled="editarAulaForm.$invalid || (!aula.TEXTO && !aula.VIDEO && !aula.ARQUIVO) || !aula.NOME || !aula.DESCRICAO || aula.NOME.length < 3 || aula.DESCRICAO.length < 10 || aula.ORDEM_AULA <= 0 ">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                @* Fim Modal Editar Aula  *@



                                <div class="col-8 col-sm justify-content-center">
                                    <h5 class="text-center"><strong>Aulas</strong></h5>
                                </div>
                                <div class="col-12">
                                    <table id="DtResult" datatable="ng" dt-options="ctrl.dtOptionsModalAulas"
                                           class="table table-hover dataTable"
                                           style="width: 100%" role="grid">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:50%">Nome</th>
                                                <th class="text-center" style="width:100%">Video</th>
                                                <th class="text-center" style="width:100%">Texto</th>
                                                <th class="text-center" style="width:100%">Arquivo</th>
                                                <th class="text-center" style="width:100%">Status</th>
                                                <th class="text-center" style="width:150px !important">Ações</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in TabelaAulasPorDisciplina">
                                                <td class="text-center">{{item.NOME}}</td>
                                                <td class="text-center">{{item.VIDEO}}</td>
                                                <td class="text-center">{{item.TEXTO}}</td>
                                                <td class="text-center">{{item.ARQUIVO}}</td>
                                                <td class="text-center">
                                                    <button id="btnStatus" type="button" ng-class="botaoClass(item.STATUS)" ng-click="AlterarStatusDisciplina(item)"><i class="fas fa-check"></i></button>
                                                </td>
                                                <td class="text-center">
                                                    <button id="btnPrimaryDanger" class="btn btn-warning btn-sm" ng-click="EditarAula(item)" title="Editar Disciplina"><i class="fas fa-cog"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                
                                <div class="col-12">
                                    <div class="modal-footer">
                                        <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" data-dismiss="modal" >Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="editarCurso" role="tabpanel" aria-labelledby="editarCurso">
                            <form name="editarCursoForm" autocomplete="off">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Curso:</label>
                                                <input type="text" class="form-control" name="nomeCurso" id="recipient-name" placeholder="insira um nome do curso"
                                                       ng-model="curso.NOME" required>
                                                <div ng-show="!curso.NOME && editarCursoForm.nomeCurso.$dirty && editarCursoForm.nomeCurso.$touched" class="alert alert-danger">
                                                    Campo obrigatório!
                                                </div>
                                                <div ng-show="curso.NOME.length < 3" class="alert alert-danger">
                                                    Mínimo 3 caracteres!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Prioridade:</label>
                                                <input type="number" class="form-control" id="recipient-name" name="prioridadeCurso" ng-model="curso.PRIORIDADE" required>
                                                <div ng-show="!curso.PRIORIDADE && editarCursoForm.prioridadeCurso.$dirty && editarCursoForm.prioridadeCurso.$touched" class="alert alert-danger">
                                                    Campo obrigatório!
                                                </div>
                                                <div ng-show="curso.PRIORIDADE <= 0" class="alert alert-danger">
                                                    Valor precisa ser maior que 0!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Modulo:</label>
                                                <select class="form-control" ng-model="curso.ID_MODULO" ng-options="item.ID as item.NOME for item in Modulos" name="selectModulo" required>
                                                    <option value="">Selecione um Modulo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Descrição:</label>
                                                <textarea class="form-control" id="message-text" name="descricaoCurso" ng-model="curso.DESCRICAO" required></textarea>
                                                <div ng-show="!curso.DESCRICAO && editarCursoForm.descricaoCurso.$dirty && editarCursoForm.descricaoCurso.$touched" class="alert alert-danger">
                                                    Campo obrigatório!
                                                </div>
                                                <div ng-show="curso.DESCRICAO.length < 10" class="alert alert-danger">
                                                    Mínimo 10 caracteres!
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btnPrimaryDanger" type="button" class="btn btn-danger btn-sm" ng-click="FechaModal('modalGerenciarCurso')">Fechar</button>
                                    <button id="btnPrimaryDanger" type="button" class="btn btn-primary" ng-click="Finalizar(curso)" ng-disabled="editarCursoForm.$invalid || !curso.NOME || curso.NOME.length < 3 || !curso.PRIORIDADE || curso.PRIORIDADE.length < 10 || !curso.ID_MODULO || !curso.DESCRICAO || curso.DESCRICAO.length < 10">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptSectionRender {
    <script src="~/app/factory/httpPadrao.factory.js"></script>
    <script src="~/app/service/modulo.service.js"></script>
    <script src="~/app/service/curso.service.js"></script>
    <script src="~/app/service/disciplina.service.js"></script>
    <script src="~/app/service/aula.service.js"></script>
    <script src="~/app/controllers/curso.controller.js"></script>
}