@using System.Security.Claims;


@{ ViewBag.Title = "Módulos ";
    var claims = (ClaimsIdentity)User.Identity;
    var gestor = Convert.ToInt32(claims.Claims.ToList().Find(id => id.Type == ClaimTypes.PrimaryGroupSid).Value); }

<div ng-controller="modulo as ctrl">
    <div class="row justify-content">
        <div class="page-header justify-content col-12">
            <div class="col-9">
                <h3>@ViewBag.Title de @ViewBag.Setor</h3>
            </div>
            <div class="col-3">
                <button class="btn btn-sm btn-primary" ng-click="AbrirModalVincularModulo()">Vincular Módulo</button>
                <button class="btn btn-sm btn-primary" ng-click="AbrirCadastrarNovo()">Cadastrar Módulo</button>
            </div>
        </div>
    </div>


    <div class="row layout-top-spacing">
        <div class="container-fluid">
            <div class="card border-double">
                <div class="card-body" style="margin-top:0; border-top-style:solid;padding-top:0; border-top-width:0;padding-bottom:0">
                    <table datatable="ng" dt-options="ctrl.dtOptionsModulos"
                           class="table table-hover dataTable"
                           id="DtResult"
                           style="width: 100%" role="grid" ng-init="Listagem()">
                        <thead id="thead">
                            <tr>
                                <th class="text-center">Setor</th>
                                <th class="text-center">Módulo</th>
                                <th class="text-center">Cursos</th>
                                <th class="text-center">Descrição</th>
                                <th class="text-center">Autor do Módulo</th>
                                <th class="text-center">Data de Criação</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" style="width:70px">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Tabela">
                                <td class="text-center">{{item.NOME_SETOR}}</td>
                                <td class="text-center">{{item.NOME}}</td>
                                <td class="text-center">{{item.QTD_CURSO}}</td>
                                <td class="text-center">{{item.DESCRICAO}}</td>
                                <td class="text-center">{{item.RESPONSAVEL}}</td>
                                <td class="text-center">{{item.DATA_CRIACAO | date : 'dd/MM/yyyy'}}</td>
                                <td class="text-center">
                                    <button type="button" ng-class="botaoClass(item.STATUS)" id="btnStatus" ng-click="AlterarStatus(item)" title="Alterar Status">
                                        <i class="fas fa-check" ng-show="item.STATUS"></i>
                                        <i class="fas fa-times" ng-show="!item.STATUS"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" id="btnPrimaryDanger" class="btn btn-warning btn-sm" ng-click="AbrirItemSelecionado(item)" ng-disabled="item.ID_USUARIO_GESTOR != '@gestor'" title="Editar Módulo"><i class="fas fa-cogs"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        @* Modal *@
        <div class="modal fade" id="ModalRegistro" tabindex="-1" role="dialog" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{tituloModal}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form name="formularioCadastroModulo" autocomplete="off" novalidate>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" name="nomeModulo" id="recipient-name" ng-model="modulo.NOME" required>
                                <div ng-show="!modulo.NOME && formularioCadastroModulo.nomeModulo.$touched && formularioCadastroModulo.nomeModulo.$dirty" class="alert alert-danger">
                                    Este campo é obrigatório!
                                </div>
                                <div ng-show="modulo.NOME.length < 3" class="alert alert-danger">
                                    Mínimo 3 caracteres!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Descrição:</label>
                                <textarea class="form-control" name="descricaoModulo" id="message-text" ng-model="modulo.DESCRICAO" required></textarea>
                                <div ng-show="!modulo.DESCRICAO && formularioCadastroModulo.descricaoModulo.$dirty && formularioCadastroModulo.descricaoModulo.$touched" class="alert alert-danger">
                                    Este campo é obrigatório!
                                </div>
                                <div ng-show="modulo.DESCRICAO.length < 10" class="alert alert-danger">
                                    Mínimo 10 caracteres!
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="Finalizar(modulo)" ng-disabled="formularioCadastroModulo.$invalid || modulo.DESCRICAO.length < 10 || modulo.NOME.length < 3">Salvar</button>
                        </div>
                    </form>                   
                </div>
            </div>
        </div>


        @* Modal de Novo Vinculo *@
        <div class="modal fade" id="ModalVinculoModulo" tabindex="-1" role="dialog" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vínculo de Módulo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form name="vinculoModulo">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Modulo:</label>
                                <select class="form-control" ng-model="modulo.ID_MODULO" ng-options="item.ID as item.NOME for item in NaoVinculados" ng-required="true">
                                    <option value="">Selecione um Modulo</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="VincularModulo(modulo)" ng-disabled="vinculoModulo.$invalid">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptSectionRender {
    <script src="~/app/factory/httpPadrao.factory.js"></script>
    <script src="~/app/service/modulo.service.js"></script>
    <script src="~/app/controllers/modulo.controller.js"></script>
}
