@{
    ViewBag.Title = "Setores";

}

<div ng-controller="setor">
    <div class="page-header justify-content">
        <h3>@ViewBag.Title</h3>
        <button class="btn btn-primary btn-sm" ng-click="AbrirModalNovo()">Cadastrar Setor</button>
    </div>


    <div class="row layout-top-spacing">

        @* Começo da table onde eu listo os setores *@
        <div class="container-fluid">
            <div class="card border-double">
                <div class="card-body">

                    <table id="DtResult" datatable="ng" dt-options="dtOptions"
                           class="table table-hover dataTable"
                           style="width: 100%" role="grid" ng-init="BuscarSetores()">
                        <thead>
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Descricao</th>
                                <th class="text-center">Data Criacão</th>
                                <th class="text-center">Usuario Criação</th>
                                <th class="text-center">Ativar/Desativar</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in ListagemSetores | filter: filtro">
                                <td class="text-center">{{item.NOME}}</td>
                                <td class="text-center">{{item.DESCRICAO}}</td>
                                <td class="text-center">{{item.DATA_CRIACAO | date : 'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{item.USUARIO_CRIACAO}}</td>
                                <td class="text-center">
                                    <button id="btnStatus" type="button" ng-class="botaoClass(item.STATUS)" ng-click="AlterarStatus(item)"><i class="fas fa-check"></i></button>
                                </td>
                                <td class="text-center"><button type="button" class="btn btn-primary btn-sm" ng-click="AbrirModalVisualizar(item)"><i class="fas fa-eye"></i>Visualizar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        @* Modal de editar o Setor *@
        <div class="modal fade" id="modalEdicao" tabindex="-1" role="dialog" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{tituloModal}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="setor.NOME">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Descrição:</label>
                                <textarea class="form-control" id="message-text" ng-model="setor.DESCRICAO"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="AdicionarSetor(setor)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        @* Modal de vincular usuario ao Setor *@
        <div class="modal fade" id="modalVinculoGestor" tabindex="-1" role="dialog" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{tituloModalVinculo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <select class="form-control" ng-model="UserSetor.ID_USUARIO" ng-options="item.ID as item.Nome for item in ListaUsuarios">
                                    <option value="">Selecione um Gestor para Adicionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="AdicionarGestor(UserSetor)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @* Modal Principal Setores *@
        <div class="modal fade" id="modalPrincipal" tabindex="-1" role="dialog" aria-labelledby="modalPrincipal" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="detalhesSetorLink" data-toggle="pill" href="#detalhesSetor" role="tab" aria-controls="detalhesSetor">Setor</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="detalhesGestoresLink" ng-click="BuscarGestoresPorSetor(setor)"
                                   data-toggle="pill" href="#detalhesGestores" role="tab" aria-controls="detalhesGestores">Gestores</a>
                            </li>

                        </ul>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>



                    <div class="modal-body">
                        <div class="tab-content" id="pills-tabContent">

                            <div class="tab-pane fade" id="detalhesSetor" role="tabpanel" aria-labelledby="detalhesSetor">
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Nome:</label>
                                            <input type="text" class="form-control" id="recipient-name" ng-model="setor.NOME">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Descrição:</label>
                                            <textarea class="form-control" id="message-text" ng-model="setor.DESCRICAO"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="detalhesGestores" role="tabpanel" aria-labelledby="detalhesGestores">
                                <div class="col-md-12 mb-3 text-right">
                                    <button class="btn btn-primary btn-sm" ng-click="AbriModalAdicionarGestor(setor)">Vincular Usuário</button>
                                </div>
                                <table class="table table-hover" width="100%">
                                    <thead>
                                        <tr>

                                            <th class="text-center">Id Gestor</th>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Ativar/Desativar</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListarGestoresPorSetor | filter: filtro">

                                            <td class="text-center">{{item.ID}}</td>
                                            <td class="text-center">{{item.NOME_GESTOR}}</td>
                                            <td class="text-center">{{item.EMAIL}}</td>
                                            <td class="text-center">
                                                <button type="button" ng-class="botaoClass(item.STATUS)" ng-click="AlterarStatusGestor(item)"><i class="fas fa-check"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="AdicionarSetor(setor)">Salvar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptSectionRender {

    <script src="~/app/factory/httpPadrao.factory.js"></script>
    <script src="~/app/service/setores.service.js"></script>
    <script src="~/app/controllers/setor.controller.js">
    </script>
}

