@model PVT.Models.Setor

@{
    ViewData["Title"] = "Create";
    Model.DATA_CRIACAO = DateTime.Now;
    Model.USUARIO_CRIACAO = "user";
}

<h1>Create</h1>

<h4>Setor</h4>
<hr/>
<div class="row">
    <div class="col-md-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NOME" class="control-label">Nome</label>
                <input asp-for="NOME" class="form-control" />
                <span asp-validation-for="NOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DESCRICAO" class="control-label">Descrição</label>
                <input asp-for="DESCRICAO" class="form-control" />
                <span asp-validation-for="DESCRICAO" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DATA_CRIACAO" class="control-label">Data de Criação</label>
                <input type="date" asp-for="DATA_CRIACAO" class="form-control" />
                <span asp-validation-for="DATA_CRIACAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USUARIO_CRIACAO" class="control-label">Usuario de Criação</label>
                <input asp-for="USUARIO_CRIACAO" class="form-control" />
                <span asp-validation-for="USUARIO_CRIACAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATA_ALTERACAO" class="control-label">Data de Alteração</label>
                <input type="date" asp-for="DATA_ALTERACAO" class="form-control" />
                <span asp-validation-for="DATA_ALTERACAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USUARIO_ALTERACAO" class="control-label">Usuario Alteração</label>
                <input asp-for="USUARIO_ALTERACAO" class="form-control" />
                <span asp-validation-for="USUARIO_ALTERACAO" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="STATUS" /> @Html.DisplayNameFor(model => model.STATUS)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

