@{
    ViewBag.Title = "Home";
}
<div ng-controller="gestor">
    <div class="row layout-top-spacing">
        <div class="container-fluid">
            <div class="card border-double">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12"><form><input class="form-control" placeholder="Pesquisar" ng-model="filtro" /></form></div>
                    </div>
                    <table class="table table-hover" width="100%" ng-init="BuscarGestores()">
                        <thead>
                            <tr>

                                <th class="text-center">Id Gestor</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Responsavel Por:</th>
                                <th class="text-center">Ativar/Desativar</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListarGestores | filter: filtro">

                                <td class="text-center">{{item.ID}}</td>
                                <td class="text-center">{{item.NOME}}</td>
                                <td class="text-center">{{item.ID_SETOR}}</td>
                                <td class="text-center">
                                    <label class="switch s-outline s-outline-success  mb-4 mr-2">
                                        <input type="checkbox" ng-model="item.STATUS" ng-change="AdicionarModulo(item)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary" ng-click="AbrirModalEditar(item)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 text-success"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>Editar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        @* Modal *@
        <div class="modal fade" id="modalEdicao" tabindex="-1" role="dialog" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{tituloModal}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="modulo.NOME">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Descrição:</label>
                                <textarea class="form-control" id="message-text" ng-model="modulo.DESCRICAO"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" ng-click="AdicionarModulo(modulo)">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptSectionRender {

    <script src="~/app/controllers/modulo.controller.js">
    </script>
}
